.link {
  box-shadow: inset 0 0 0 0 #93c5fd;
  color: #93c5fd;
  margin: 0 -0.25rem;
  padding: 0 0.25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.link:hover {
  box-shadow: inset 500px 0 0 0 #93c5fd;
  color: white;
}
